{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": 0,
    "import/extensions": ["error", { "js": "always" }],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "import/no-named-as-default": 0
  }
}
